@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #183380;
}

.main {
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #25439d;
}

.main__label {
  font-family: NunitoSans;
  font-size: 28px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.main--log-in {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 22.5px;
  background-color: #20cdbb;
  word-wrap: break-word;
  border: none;
  color: #fff;
}

.main--or {
  height: 14px;
  opacity: 0.15;
  font-family: Roboto-Regular;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.main--or::before {
  display: inline-block;
  content: "";
  border-bottom: 1px solid #ffffff;
  width: 40%;
  height: 1px;
  margin: 6px 9px 4px 0;
}

.main--or::after {
  display: inline-block;
  content: "";
  border-bottom: 1px solid #ffffff;
  width: 40%;
  height: 1px;
  margin: 6px 0 4px 9px;
}

.main--dont_have {
  opacity: 0.5;
  font-family: NunitoSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.main--sign-up {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  word-wrap: break-word;
  border-radius: 22.5px;
  background-color: #51a8d1;
  border: none;
  color: #fff;
}

.footer {
  position: fixed;
  background-color: #1c2646;
}

.footer .text {
  opacity: 0.7;
  font-family: NunitoSans-Regular;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.social_icons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #ffffff;
  text-align: end;
}

@media only screen and (max-width: 768px) {
  .login__header {
    text-align: center;
  }
  .footer .text {
    text-align: center;
  }
  .social_icons {
    text-align: center;
  }
}

.login {
  background-color: #f7f8fa;
}

.login__header {
  background-color: #183380;
}

.login__header--logo {
  width: 65.9px;
  height: 23px;
}

.login__header--label {
  font-family: NunitoSans;
  font-size: 16px;
  font-weight: 800;
  color: #ffffff;
}

.login__section--lets-get-started {
  width: 216px;
  height: 38px;
  font-family: NunitoSans;
  font-size: 28px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #242a41;
}

.login__section--create_ac_account {
  width: 238px;
  height: 38px;
  font-family: NunitoSans;
  font-size: 28px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #242a41;
  text-align: center;
}

.login__section--main {
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.login__signup {
  text-decoration: none;
  text-align: center;
}

.login__signup::before {
  content: 'Don’t have an account yet?';
  text-align: center;
  font-family: NunitoSans;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #242a41;
  padding-right: 5px;
}

.login__signup::after {
  content: 'Sign Up';
  font-family: NunitoSans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #51a8d1;
  text-align: center;
  text-decoration: underline;
}

.login__log-in {
  text-align: center;
  text-decoration: none;
}

.login__log-in::before {
  content: 'Already have an account?';
  text-align: center;
  font-family: NunitoSans;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #242a41;
  padding-right: 5px;
}

.login__log-in::after {
  content: 'Log In';
  font-family: NunitoSans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #51a8d1;
  text-align: center;
  text-decoration: underline;
}

.input_labels {
  opacity: 0.3;
  font-family: NunitoSans;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #242a41;
}

.email_input {
  width: 100%;
  font-family: NunitoSans;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #242a41;
  border-width: 0 0 1px;
  border-color: darkgray;
  outline: 0;
}

.password_input {
  width: 100%;
  font-family: NunitoSans;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #242a41;
  border-width: 0 0 1px;
  border-color: darkgray;
  outline: 0;
}

.forgot_password {
  font-family: NunitoSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #51a8d1;
}

.firstname_input {
  width: 100%;
  height: 22px;
  font-family: NunitoSans;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #242a41;
  border-width: 0 0 1px;
  border-color: darkgray;
  outline: 0;
}

.lastname_input {
  width: 100%;
  height: 22px;
  font-family: NunitoSans;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #242a41;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-width: 0 0 1px;
  border-color: darkgray;
  outline: 0;
}

.radio_label {
  opacity: 0.3;
  font-family: NunitoSans;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.click, .popup_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
}

.click {
  background: #2981bc;
  color: white;
  font-size: 22px;
  font-family: arial;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #0059b3;
}

.popup_box {
  width: 400px;
  background: #f2f2f2;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  border: 1px solid #b3b3b3;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
}

.popup_box i {
  font-size: 60px;
  color: #eb9447;
  border: 5px solid #eb9447;
  padding: 20px 40px;
  border-radius: 50%;
  margin: -10px 0 20px 0;
}

.popup_box h1 {
  font-size: 30px;
  color: #1b2631;
  margin-bottom: 5px;
}

.popup_box label {
  font-size: 23px;
  color: #404040;
}

.popup_box .btns {
  margin: 40px 0 0 0;
}

.btns .btn1, .btns .btn2 {
  background: #999999;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #808080;
  padding: 10px 13px;
}

.btns .btn2 {
  margin-left: 20px;
  background: #ff3333;
  border: 1px solid #cc0000;
}

.btns .btn1:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background: #8c8c8c;
}

.btns .btn2:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background: #e60000;
}
/*# sourceMappingURL=style.css.map */